<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation"
  data-accordion="false" id="navigation">
  <li class="nav-item">
    <a href="/admin" class="nav-link ">
      <i class="nav-icon bi bi-house-gear"></i>
      <p>
        Home
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/admin/seminar-final" class="nav-link ">
      <i class="nav-icon bi bi-pen"></i>
      <p>
        Seminar telah Finalisasi
      </p>
    </a>
  </li>
  <li class="nav-item">
    <!-- <a href="/riwayat" class="nav-link active"> -->
    <a href="/admin/riwayat" class="nav-link">
      <i class="nav-icon bi bi-clock-history"></i>
      <p>
        Riwayat Seminar
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/admin/data-dosen" class="nav-link">
      <i class="nav-icon bi bi-perplexity"></i>
      <p>
        Data Dosen
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>

  <li class="nav-item">
    <a href="/admin/data-mahasiswa" class="nav-link">
      <i class="nav-icon bi bi-person"></i>
      <p>
        Data Mahasiswa
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>

  <li class="nav-item">
    <a href="/logout" class="nav-link">
      <i class="nav-icon bi bi-box-arrow-left"></i>
      <p>
        Logout
      </p>
    </a>
  </li>
</ul>