{% extends "base.html" %}

{% block menusidebar %}
{% include "user/sidebar.html" %}
{% endblock %}

{% block content %}
<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                {% if status  %}
                <h4 class="mb-0">Data Seminar telah Finalisasi Nilai</h4>
                {% else %}
                <h4 class="mb-0">Data Seminar Terjadwal</h4>
                {% endif %}
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-3">
            {% for x in data %}
            <div class="col-md-6">
                {% if x.seminar.jenis_seminar == 1 %}
                <div class="card card-secondary">
                    {% else %}
                    <div class="card card-warning">
                        {% endif %}
                        <div class="card-header text-white">
                            <h3 class="card-title">{{ x.seminar.nim }} - {{ x.seminar.mahasiswa.nama_mahasiswa }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-2">
                                {% if x.seminar.jenis_seminar == 1 %}
                                <span class="badge text-bg-secondary">Seminar Proposal</span>
                                {% else %}
                                <span class="badge text-bg-warning text-white">Seminar Akhir</span>
                                {% endif %}
                            </div>
                            <i class="bi bi-geo-alt"></i> {{ x.seminar.ruangan }} | <i class="bi bi-calendar"></i> <span
                                data-tanggal>{{ x.seminar.waktu_seminar }}</span>
                            | <i class="bi bi-clock"></i> <span>{{ x.seminar.waktu_seminar.strftime('%H.%M WITA')
                                }}</span>
                            <hr>
                            Judul : {{ x.seminar.judul_skripsi }}
                            <hr>
                            <ul class="list-group">
                                {% for y in x.seminar.dosen_roles %}
                                {% if y.peran == 1 %}
                                <li class="list-group-item">Ketua : {{ y.dosen.nama_dosen }}</li>
                                {% elif y.peran == 2 %}
                                <li class="list-group-item">Sekretaris : {{ y.dosen.nama_dosen }}</li>
                                {% elif y.peran == 3 %}
                                <li class="list-group-item">Anggota : {{ y.dosen.nama_dosen }}</li>
                                {% elif y.peran == 4 %}
                                <li class="list-group-item">Pembimbing 1 : {{ y.dosen.nama_dosen }}</li>
                                {% elif y.peran == 5 %}
                                <li class="list-group-item">Pembimbing 2 : {{ y.dosen.nama_dosen }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <a href="/dosen/rekap/{{ x.seminar.slug }}" class="btn btn-danger text-white">Rekap
                                    Nilai</a>
                                {% if x.seminar.status == 1 %}
                                    {% if x.penilaian %}
                                        <a href="/dosen/penilaian/ubah/{{ x.seminar.slug }}" class="btn btn-success">Ubah Nilai</a>
                                    {% else %}
                                        <a href="/dosen/penilaian/{{ x.seminar.slug }}" class="btn btn-primary">Input Nilai</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content-->
    {% endblock %}

    {% block scripts %}
    <script src={{ url_for('static', path='js/dateid.js' ) }}></script>
    {% endblock %}