<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation"
  data-accordion="false" id="navigation">
  <li class="nav-item">
    <a href="/dosen" class="nav-link ">
      <i class="nav-icon bi bi-house-gear"></i>
      <p>
        Home
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/dosen/riwayat" class="nav-link ">
      <i class="nav-icon bi bi-clock-history"></i>
      <p>
        Riwayat Seminar
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/logout" class="nav-link">
      <i class="nav-icon bi bi-box-arrow-left"></i>
      <p>
        Logout
        <!-- <i class="nav-arrow bi bi-chevron-right"></i> -->
      </p>
    </a>
  </li>
</ul>